<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruanfen.mapper.CommentMapper">

    <select id="searchComments" resultType="com.ruanfen.model.Comment">
        SELECT * FROM comment
        WHERE 1 = 1
        <if test="achievementType != null">
            AND achievement_type ==#{achievementType}
        </if>
        <if test="achievementId != null">
            AND achievement_id == #{achievementId}
        </if>
    </select>

</mapper>
